@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  :root {
    --scroll-bar-border: #696969;
    --scroll-bar-foreground: #d9d9d9;
    --scroll-bar-background: #595959;
  }
  /* SCROLLBARS ---------------------- */
  *::-webkit-scrollbar {
    width: 10px;
    background-color: var(--scroll-bar-background);
  }
  *::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--scroll-bar-background);
  }
  *::-webkit-scrollbar-thumb {
    background-color: --scroll-bar-foreground;
    border: 2px solid var(--scroll-bar-border);
  }
  /* Reset color input default values */
  input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  input[type='color']::-webkit-color-swatch {
    border: none;
  }
}
